img {
    width: 99%;
    text-align: right;
    
}
body {
    background-color: black;
}
h1 {
    font-family: 'Major Mono Display', monospace;
    color: darkcyan;
    font-size: 70px;
    text-align: center;
    text-shadow: 0 -1px 2px darkcyan,
        0px -3px 6px rgba(0,139,139 ,1 ),
        0px -6px 12px rgba(0,89,89 ,1 ),
        0px -10px 20px rgba(0,50,50,1),
        0px -15px 30px rgba(0,100,100,1),
        0px -21px 42px rgb(0,63,63);
    animation:fire 0.01s ease infinite,colorSpin 5s linear infinite;
        
}
@keyframes fire{
  40%{
    text-shadow: 0 -4px 8px darkcyan,
        0px -12px 24px rgba(0,139,139 ,1),
        0px -24px 48px rgba(0,89,89 ,1),
        0px -40px 80px rgba(0,60,60,1),
        0px -60px 120px rgba(0,100,100,1),
        0px -84px 168px rgba(0,63,63,1);
  
    }
}
@keyframes colorSpin{
  to{filter:hue-rotate(360deg)}
}

input[type=text] {
  width: 45%;
/*  height: 300px;*/
  color: purple; 
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: normal;
  padding-top: 0;
  padding-left: 0;
}
#Ctext textarea {
  width: 45%;
  height: 300px;
  color: orange; 
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: normal;
  padding-top: 0;
  padding-left: 0;
  margin-left: 55%;
  border-color: orange;
  box-shadow: 0 0 10px 0 orange;
  box-sizing: border-box;


}

#Ptext textarea {
  width: 45%;
  height: 300px;
  color: blue; 
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: normal;
  padding-top: 0;
  padding-left: 0;
  border-color: blue;
  box-shadow: 0 0 10px 0 blue;
  box-sizing: border-box;
}



#cCode {
    padding-right: 15%;
    font-family: 'Shadows Into Light', cursive;
    color: orange;
    text-align: right;
    font-size: 20px;
}

#pCode {
    color: dodgerblue;
    padding-left: 15%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    
}

#trans .button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  margin-left: 30%;
}

#trans .button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

#trans .button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#trans .button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#trans .button:focus { outline:0; }

#swap .button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  margin-left: 60%;
  margin-top: 3%;
}

#swap .button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

#swap .button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#swap .button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#swap .button:focus { outline:0; }
